    body{
      height: 100%;
      width: 100%;
      background-color: grey;  }
    .section1{
      padding-top:30px;
    }
    .row1{
      background-color: black;
      height: 100px;
      text-align: center;
      color: white;



    }
    .about{
      background-color: #27A967;
      margin-top: 10px;}


   .me{background-color: orange;}



   p{
      font-size: 30px;
      font-family: cursive;}


   h2{
     font-size: 51px;
     font-family: fantasy;
     text-align: center;}
   li{font-family: inherit;}
